body {
    max-width: 800px;
    margin: 0 auto;
    font-family: "Times New Roman", Times, serif;
    background-color: black;
    text-align: center;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

p {
    color: white;
}

a {
    color: white;
}

nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

nav ul li {
    margin: 0px;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}
